@model GaragePlanner.Models.CarViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Add Car</title>
</head>
<body>
<h1>Add Car</h1>
<form action="#" method="POST">
    <label for="customerName">Customer Name:</label>
    <select name="customerName" id="customerName">
        @foreach (var customerName in Model.CustomerEmails)
        {
            <option value="@customerName">@customerName</option>
        }
    </select>
    <br>
    <label for="licensePlate">License Plate:</label>
    <input type="text" name="licensePlate" id="licensePlate">
    <br>
    <label for="color">Color:</label>
    <input type="text" name="color" id="color">
    <br>
    <label for="model">Model:</label>
    <input type="text" name="model" id="model">
    <br>
    <label for="year">Year:</label>
    <input type="text" name="year" id="year">
    <br><br>
    <input type="submit" value="ShowAgendaViewModelubmit">
</form>
</body>
</html>