@model GaragePlanner.Models.RegistrationViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration ShowAgendaViewModeluccess</title>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div class="success-message">
        <p>Thank you for registering @Model.FirstName @Model.LastName </p>
        <p>You will be able to log in.</p>
    </div>
</div>
</body>
</html>