@model GaragePlanner.Models.BookViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<form>
    <label for="customer">Customer:</label>
        <select name="customerName" id="customerName">
            @foreach (var customerName in Model.CustomerNames)
            {
                <option value="@customerName">@customerName</option>
            }
        </select>

    <br>

    <label for="car">Car:</label>
    <select id="car" name="car">
        <option value="car1">Car 1</option>
        <option value="car2">Car 2</option>
        <option value="car3">Car 3</option>
    </select>

    <br>

    <label for="type">Type:</label>
    <select id="type" name="type">
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
        <option value="type3">Type 3</option>
    </select>

    <br>

    <label for="chosenDateTime">Chosen Date Time:</label>
    <input type="text" id="chosenDateTime" name="chosenDateTime" value="@Model.ChosenDateTime" readonly>

    <br>

    <input type="submit" value="Submit">
</form>

</body>
</html>