@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{



}


<!DOCTYPE html>

<html>
<head>
    <title>Agenda</title>
    <link href="@Url.Content("~/css/tables.css")" rel="stylesheet" type="text/css"/>
</head>

<body>
<div>
 <label for="available-dates">Available dates:</label>
 <select id="available-dates" name="available-dates">
   <option value="2022-05-10">Ma 10, 2022</option>
   <option value="2022-05-11">Ma 11, 2022</option>
   <option value="2022-05-12">May 12, 2022</option>
   <option value="2022-05-13">May 13, 2022</option>
   <option value="2022-05-14">May 14, 2022</option>
 </select>
     
</div>
</body>

<script>



    </script>



</html>
