@model GaragePlanner.Models.AgendaViewModel;

<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Agenda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: collapse;
            border-width: 2px;
            border-style: solid;
            border-color: black;
        }

        th, td {
            border-width: 2px;
            border-style: solid;
            width: 80px;
            height: 50px;
            border-color: black;
            text-align: center;
        }

            th.day {
                border-bottom: none;
            }

            td.available {
                background-color: green;
                color: white;
            }

        a {
            color: white;
        }

        td.booked {
            background-color: red;
        }

    </style>
</head>
<body>
    <h1>Agenda</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                @foreach (var date in Model.Appointments.Select(a => a.Date.Date).Distinct())
                {
                    <th class="day">@date.ToString("dddd d MMMM")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var timeSlot in Model.Appointments.Select(a => a.Date.TimeOfDay).Distinct())
            {
                <tr>
                    <th class="time">@timeSlot.ToString(@"hh\:mm")</th>
                    @foreach (var date in Model.Appointments.Select(a => a.Date.Date).Distinct())
                    {
                        var appointment = Model.Appointments.FirstOrDefault(a => a.Date.Date == date && a.Date.TimeOfDay == timeSlot);

                        <td class="@((appointment != null && appointment.IsAvailable) ? "available" : "booked")">
                            @if (appointment != null && appointment.IsAvailable)
                            {
                                <div><a href="/agenda/bookinformation?dateAndTime=@appointment.Date.ToString("yyyy-MM-ddTHH:mm:ss")">Book</a></div>
                            }
                            else
                            {
                                <div>Booked</div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
