@model GaragePlanner.Models.AgendaViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Agenda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: collapse;
            border-width: 2px;
            border-style: solid;
            border-color: black;
        }

        th, td {
            border-width: 2px;
            border-style: solid;
            width: 80px;
            height: 50px;
            border-color: black;
            text-align: center
        }

            th.time {
                border-right: none;
            }

            th.day {
                border-bottom: none;
            }

            td.available {
                background-color: green;
                color: white;
            }

            td.booked {
                background-color: red;
            }

        a.book-link {
            color: white;
        }
    </style>
</head>
<body>
    <h1>Agenda</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                @foreach (var day in Model.Days)
                {
                    <th class="day">@day.Date.ToString("ddd, dd MMM")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var timeSlot in Model.Days.SelectMany(d => d.TimeSlots).Select(ts => ts.Time).Distinct().OrderBy(t => t))
            {
                <tr>
                    <th class="time">@timeSlot.ToString("HH:mm")</th>
                    @foreach (var day in Model.Days)
                    {
                        var timeslot = day.TimeSlots.FirstOrDefault(ts => ts.Time == timeSlot);
                        var bookLink = timeslot?.IsAvailable == true
                        ? $"<a href=\"/reservation/bookinformation?dateAndTime={day.Date:yyyy-MM-dd}T{timeSlot:HH:mm:ss}\" class=\"book-link\">Book</a>"
                        : "Booked";
                        <td class="@((timeslot?.IsAvailable == true) ? "available" : "booked")">
                            @Html.Raw(bookLink)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
