@model GaragePlanner.Models.AgendaViewModel;

<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Agenda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: collapse;
            border-width: 2px;
            border-style: solid;
            border-color: black;
        }

        th, td {
            border-width: 2px;
            border-style: solid;
            width: 80px;
            height: 50px;
            border-color: black;
            text-align: center
        }

            th.time {
                border-right: none;
            }

            th.day {
                border-bottom: none;
            }

            td.available {
                background-color: green;
                color: white;
            }

        a {
            color: white;
        }

        td.booked {
            background-color: red;
        }

    </style>
</head>
<body>
    <h1>Agenda</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                @foreach (var date in Model.Days)
                {
                    <th class="day">@date.ToString()</th>
                }
            </tr>
        </thead>
        <tbody>

            }
        </tbody>
    </table>
</body>
</html>
